<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Bike is life</title>
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Custom fonts for this template-->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->

    <link rel="stylesheet" type="text/css" href="{% static "css/sb-admin-2.min.css" %}"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.css' rel='stylesheet' />

    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js"></script>
    <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css" rel="stylesheet"/>

    <script src="https://unpkg.com/@turf/turf@6/turf.min.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.2.2/mapbox-gl-draw.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.2.2/mapbox-gl-draw.css" type="text/css">
    <script src='https://cdn.plot.ly/plotly-2.6.3.min.js'></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script> 

  <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.min.js"></script>
  <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.css" type="text/css">

  </head>

  <body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid" style="padding: 20px">

                    <!-- Content Row -->
                    <div class="row align-items-top row-grid">
                      <div class="col-xl-3 col-md-12">
                        <div class="row" style="padding: 0px 0px 0px 0px;">
                          <div class="col">
                            <div class="card border-left-primary shadow h-100 py-2">
                              <div class="card-body">
                                <div class="row" style="margin-top: -15px;">
                                  <div class="col" style="height: 120px;">
                                    <div class="text-s font-weight-bold text-primary text-uppercase mb-1">Cost <img class="info-icon" src="../static/data/info_icon.svg"></div>
                                    <div id="cost" style="margin: 0px; padding:0px; width: 100%; height: 100%;"></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row" style="padding: 20px 0px 0px 0px;">
                          <div class="col">
                            <div class="card border-left-primary shadow h-100 py-2">
                              <div class="card-body">
                                <div class="row" style="margin-top: -15px;">
                                  <div class="col" style="height: 120px;">
                                    <div class="text-s font-weight-bold text-primary text-uppercase mb-1">Ridership <img class="info-icon" src="../static/data/info_icon.svg"></div>
                                    <div id="ridership" style="margin: 0px; padding:0px; width: 100%; height: 100%;"></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row" style="padding: 20px 0px 0px 0px;">
                          <div class="col">
                            <div class="card border-left-primary shadow h-100 py-2">
                              <div class="card-body">
                                <div class="row" style="margin-top: -15px;">
                                  <div class="col" style="height: 120px;">
                                    <div class="text-s font-weight-bold text-primary text-uppercase mb-1">Emissions <img class="info-icon" src="../static/data/info_icon.svg"></div>
                                    <div id="emissions" style="margin: 0px; padding:0px; width: 100%; height: 100%;"></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row" style="padding: 20px 0px 0px 0px;">
                          <div class="col">
                            <div class="card border-left-primary shadow h-100 py-2">
                              <div class="card-body">
                                <div class="row" style="margin-top: -15px;">
                                  <div class="col" style="height: 120px;">
                                    <div class="text-s font-weight-bold text-primary text-uppercase mb-1">Traffic Volume <img class="info-icon" src="../static/data/info_icon.svg"></div>
                                    <div id="traffic" style="margin: 0px; padding:0px; width: 100%; height: 100%;"></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row" style="padding: 20px 0px 0px 0px;">
                          <div class="col">
                            <div class="card border-left-primary shadow h-100 py-2">
                              <div class="card-body">
                                <div class="row" style="margin-top: -15px;">
                                  <div class="col" style="height: 120px;">
                                    <div class="text-s font-weight-bold text-primary text-uppercase mb-1">Safety <img class="info-icon" src="../static/data/info_icon.svg"></div>
                                    <div id="safety" style="margin: 0px; padding:0px; width: 100%; height: 100%;"></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-9">
                        <div class="row">
                          <div class="col">
                            <div class="card shadow mb-4">
                              <!-- Card Header - Dropdown -->
                              <div
                                  class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                  <h6 class="m-0 font-weight-bold text-primary">Map</h6>
                              </div>
                              <!-- Card Body -->
                              <div class="row">
                                <div class="col-8">
                                  <div id="app"></div>
                                </div>
                                <div class="col-4">
                                  <div class="legend-box">
                                    <p style="font-weight: bold; color: black;">Legend</p>
                                    <div id="legend">
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="card shadow mb-4">
                              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Overrides</h6>
                              </div>
                              <div class="card-body" style="height: 380px;">
                                <div class="row">
                                  <div class="col-3" style="color: #5a5c69; font-weight: bold;">Cost</div>
                                  <div class="col-1" style="text-align: center">
                                    <span id="range1">0</span>
                                  </div>
                                  <div class="col-6">
                                    <div class="slider-track1">
                                      <input type="range" min="0" max="100" value="30" id="slider1" oninput="slideOne()">
                                      <input type="range" min="0" max="100" value="70" id="slider2" oninput="slideTwo()">
                                    </div>
                                  </div>
                                  <div class="col-2" style="text-align: center">
                                    <span id="range2">100</span>
                                  </div>
                                </div>
                                <div class="row" style="margin-top: 10px; margin-bottom: 10px;"></div>
                                <div class="row">
                                  <div class="col-3" style="color: #5a5c69; font-weight: bold;">% New Riders</div>
                                  <div class="col-1" style="text-align: center">
                                    <span id="rangeRide1">0</span>
                                  </div>
                                  <div class="col-6">
                                    <div class="slider-track2">
                                      <input type="range" min="0" max="50" value="20" id="sliderRide1" oninput="slideOneRide()">
                                      <input type="range" min="0" max="50" value="30" id="sliderRide2" oninput="slideTwoRide()">
                                    </div>
                                  </div>
                                  <div class="col-2" style="text-align: center">
                                    <span id="rangeRide2">100</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="card shadow mb-4">
                              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Multi-Objective Comparison</h6>
                              </div>
                              <div class="card-body">
                                <div class="chart-area">
                                  <div><canvas id="myChart" style="width:100%; height:330px"></canvas></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Maria Papadimitriou</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>

<script type="text/javascript" src="{% static "costGraph.js" %}"></script>
<script type="text/javascript" src="{% static "ridershipGraph.js" %}"></script>
<script type="text/javascript" src="{% static "emissionsGraph.js" %}"></script>
<script type="text/javascript" src="{% static "trafficGraph.js" %}"></script>
<script type="text/javascript" src="{% static "safetyGraph.js" %}"></script>
<script type="text/javascript" src="{% static "map.js" %}"></script>
<script type="text/javascript" src="{% static "linechart.js" %}"></script>
<script type="text/javascript" src="{% static "sliders.js" %}"></script>

</body>

</html>
