<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Bike Route Comparison Tool</title>
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    

    <!-- Custom fonts for this template-->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->

    <link rel="stylesheet" type="text/css" href="{% static "css/sb-admin-2.min.css" %}"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.css' rel='stylesheet' />

    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js"></script>
    <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css" rel="stylesheet"/>

    <script src="https://unpkg.com/@turf/turf@6/turf.min.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.2.2/mapbox-gl-draw.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.2.2/mapbox-gl-draw.css" type="text/css">
    <script src='https://cdn.plot.ly/plotly-2.6.3.min.js'></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script> 
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.min.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.css" type="text/css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/4ba8d40944.js" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/d3-format@3"></script>
    
  </head>

  <body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid" style="padding: 20px">

                    <!-- Content Row -->
                    <div class="row align-items-top row-grid">
                      <div class="col-xl-3 col-md-12" id="allplots">
                        <div class="row" style="padding: 0px 0px 0px 0px;">
                          <div class="col">
                            <div class="card border-left-primary shadow h-100 py-2">
                              <div class="card-body">
                                <div class="row" style="margin-top: -15px;">
                                  <div class="col" style="height: 171px;">
                                    <div class="text-s font-weight-bold text-primary text-uppercase mb-1">
                                      <div class="iconscontainer">
                                        Cost&nbsp;&nbsp;&nbsp;
                                        <div class="icon">
                                          <i class="fas fa-info-circle"></i>
                                          <span>
                                            Cost (CAD) to construct proposed bike lane 
                                            <br>
                                            <code>Cost = (Unit Cost for Lane Type (CAD)) * Length of Route (km)</code>
                                          </span>
                                        </div>
                                      </div>
                                    </div>
                                    <div id="cost" style="margin: 0px; padding:0px; width: 100%; height: 100%;"></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row" style="padding: 20px 0px 0px 0px;">
                          <div class="col">
                            <div class="card border-left-primary shadow h-100 py-2">
                              <div class="card-body">
                                <div class="row" style="margin-top: -15px;">
                                  <div class="col" style="height: 171px;">
                                    <div class="text-s font-weight-bold text-primary text-uppercase mb-1">
                                      <div class="iconscontainer">
                                        Ridership&nbsp;&nbsp;&nbsp;
                                        <div class="icon">
                                          <i class="fas fa-info-circle"></i>
                                          <span>
                                            Expected Number of Bikers
                                            <br>
                                            <code>Population Within 1 km of Route * Percent Bicycle Commuters</code>
                                          </span>
                                        </div>
                                      </div>
                                    </div>
                                    <div id="ridership" style="margin: 0px; padding:0px; width: 100%; height: 100%;"></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row" style="padding: 20px 0px 0px 0px;">
                          <div class="col">
                            <div class="card border-left-primary shadow h-100 py-2">
                              <div class="card-body">
                                <div class="row" style="margin-top: -15px;">
                                  <div class="col" style="height: 171px;">
                                    <div class="text-s font-weight-bold text-primary text-uppercase mb-1">
                                      <div class="iconscontainer">
                                        Emissions&nbsp;&nbsp;&nbsp;
                                        <div class="icon">
                                          <i class="fas fa-info-circle"></i>
                                          <span>
                                            Saved CO<sub>2</sub> Per Day (kg)
                                            <br>
                                            <code>(Saved CO<sub>2</sub>) (g/km) * (Length of Route (km)) * (Expected Ridership) * (Percent New Riders)</code>
                                          </span>
                                        </div>
                                      </div>
                                    </div>
                                    <div id="emissions" style="margin: 0px; padding:0px; width: 100%; height: 100%;"></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row" style="padding: 20px 0px 0px 0px;">
                          <div class="col">
                            <div class="card border-left-primary shadow h-100 py-2">
                              <div class="card-body">
                                <div class="row" style="margin-top: -15px;">
                                  <div class="col" style="height: 171px;">
                                    <div class="text-s font-weight-bold text-primary text-uppercase mb-1">
                                      <div class="iconscontainer">
                                        Safety&nbsp;&nbsp;&nbsp;
                                        <div class="icon">
                                          <i class="fas fa-info-circle"></i>
                                          <span>
                                            SAFETY
                                            <br>
                                            <code></code>
                                          </span>
                                        </div>
                                      </div>
                                    </div>
                                    <div id="safety" style="margin: 0px; padding:0px; width: 100%; height: 100%;"></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-9">
                        <div class="row">
                          <div class="col">
                            <div class="card shadow mb-4">
                              <!-- Card Header - Dropdown -->
                              <div
                                  class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                  <h6 class="m-0 font-weight-bold text-primary">Map</h6>
                              </div>
                              <!-- Card Body -->
                              <div class="row">
                                <div class="col-9">
                                  <div id="app"></div>
                                  <div class="currentroutes-box">
                                    <p style="float: right;">
                                      Current Routes &nbsp;&nbsp;&nbsp;<img src="../../static/data/blackline.png" width="30%" height="100%">
                                    </p>
                                  </div>
                                </div>
                                <div class="col-3">
                                  <div style = "height: 20px;"></div>
                                    <div style = "justify-content: left; margin-left: -10px;">
                                      <button class="hey" id="hey">Add New Route&nbsp;&nbsp;<i class='fa fa-plus-circle'></i></button>
                                    </div>
                                    <div class="legend-box" id="legend-box">
                                      <p style="font-weight: bold; color: black;">Legend</p>
                                      <div id="legend">
                                      </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="row">
                              <div class="col">
                                <div class="card shadow mb-4">
                                  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Overrides</h6>  
                                    <div>
                                      <button class="refresh_button" id="refresh_button">Refresh &nbsp;&nbsp;<i class="fas fa-sync-alt"></i></button>
                                    </div>
                                  </div>
                                  <div class="card-body" style="font-size: 14px;">
                                    <div class="row">
                                      <div class="col-4" style="color: #5a5c69; font-weight: bold;"><span data-tooltip-text="Unit Cost (CAD) per km">Cost - Sharrows <i class="fas fa-info-circle"></i></span></div>
                                      <div class="col-2" style="text-align: center">
                                        <span id="range1">0</span>
                                      </div>
                                      <div class="col-4">
                                        <div class="slider-track1" id="slidertrack1"> 
                                          <input type="range" min="0" max="50000" value={{SHARROWS_UNIT_COST_MIN}} id="slider1" oninput="slideOne()">
                                          <input type="range" min="0" max="50000" value={{SHARROWS_UNIT_COST_MAX}} id="slider2" oninput="slideTwo()">
                                        </div>
                                      </div>
                                      <div class="col-2" style="text-align: center">
                                        <span id="range2">100</span>
                                      </div>
                                    </div>
                                    <div class="row" style="margin-top: 42px; margin-bottom: 10px;"></div>
                                    <div class="row">
                                      <div class="col-4" style="color: #5a5c69; font-weight: bold;"><span data-tooltip-text="Unit Cost (CAD) per km">Cost - Striped <i class="fas fa-info-circle"></i></span></div>
                                      <div class="col-2" style="text-align: center">
                                        <span id="range1-striped">0</span>
                                      </div>
                                      <div class="col-4">
                                        <div class="slider-striped">
                                          <input type="range" min="0" max="75000" value={{STRIPED_UNIT_COST_MIN}} id="slider1-striped" oninput="slideOneStriped()">
                                          <input type="range" min="0" max="75000" value={{STRIPED_UNIT_COST_MAX}} id="slider2-striped" oninput="slideTwoStriped()">
                                        </div>
                                      </div>
                                      <div class="col-2" style="text-align: center">
                                        <span id="range2-striped">100</span>
                                      </div>
                                    </div>
                                    <div class="row" style="margin-top: 42px; margin-bottom: 10px;"></div>
                                    <div class="row">
                                      <div class="col-4" style="color: #5a5c69; font-weight: bold;"><span data-tooltip-text="Unit Cost (CAD) per km">Cost - Protected <i class="fas fa-info-circle"></i></span></div>
                                      <div class="col-2" style="text-align: center">
                                        <span id="range1-protect">0</span>
                                      </div>
                                      <div class="col-4">
                                        <div class="slider-protect">
                                          <input type="range" min="0" max="500000" value={{PROTECTED_UNIT_COST_MIN}} id="slider1-protect" oninput="slideOneProtect()">
                                          <input type="range" min="0" max="500000" value={{PROTECTED_UNIT_COST_MAX}} id="slider2-protect" oninput="slideTwoProtect()">
                                        </div>
                                      </div>
                                      <div class="col-2" style="text-align: center">
                                        <span id="range2-protect">100</span>
                                      </div>
                                    </div>
                                    <div class="row" style="margin-top: 42px; margin-bottom: 10px;"></div>
                                    <div class="row">
                                      <div class="col-4" style="color: #5a5c69; font-weight: bold;"><span data-tooltip-text="Percent adult bike Riders">% Bike Riders <i class="fas fa-info-circle"></i></span></div>
                                      <div class="col-2" style="text-align: center">
                                        <span id="rangeRide1">0</span>
                                      </div>
                                      <div class="col-4">
                                        <div class="slider-track2">
                                          <input type="range" min="0" max="20" value={{BIKE_RIDERS_MIN}} id="sliderRide1" oninput="slideOneRide()">
                                          <input type="range" min="0" max="20" value={{BIKE_RIDERS_MAX}} id="sliderRide2" oninput="slideTwoRide()">
                                        </div>
                                      </div>
                                      <div class="col-2" style="text-align: center">
                                        <span id="rangeRide2">100</span>
                                      </div>
                                    </div>

                                    <div class="row" style="margin-top: 42px; margin-bottom: 10px;"></div>
                                    <div class="row">
                                      <div class="col-4" style="color: #5a5c69; font-weight: bold;"><span data-tooltip-text="Percent New Bikers">% New Riders <i class="fas fa-info-circle"></i></span></div>
                                      <div class="col-2" style="text-align: center">
                                        <span id="rangeModal1">0</span>
                                      </div>
                                      <div class="col-4">
                                        <div class="slider-modal">
                                          <input type="range" min="0" max="30" value={{MODAL_MIN}} id="sliderModal1" oninput="slideOneModal()">
                                          <input type="range" min="0" max="30" value={{MODAL_MAX}} id="sliderModal2" oninput="slideTwoModal()">
                                        </div>
                                      </div>
                                      <div class="col-2" style="text-align: center">
                                        <span id="rangeModal2">100</span>
                                      </div>
                                    </div>

                                    <div class="row" style="margin-top: 42px; margin-bottom: 10px;"></div>
                                    <div class="row">
                                      <div class="col-4" style="color: #5a5c69; font-weight: bold;"><span data-tooltip-text="Saved CO2 emissions per km for every 1 car removed">Saved CO2 / km <i class="fas fa-info-circle"></i></span></div>
                                      <div class="col-2" style="text-align: center">
                                        <span id="rangeEm1">0</span>
                                      </div>
                                      <div class="col-4">
                                        <div class="slider-track5">
                                          <input type="range" min="0" max="300" value={{EMISSIONS_MIN}} id="sliderEm1" oninput="slideOneEm()">
                                          <input type="range" min="0" max="300" value={{EMISSIONS_MAX}} id="sliderEm2" oninput="slideTwoEm()">
                                        </div>
                                      </div>
                                      <div class="col-2" style="text-align: center">
                                        <span id="rangeEm2">100</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="card shadow mb-4">
                              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Multi-Objective Comparison</h6>
                              </div>
                              <div class="card-body">
                                <div class="row">
                                  <div class="col-1">
                                    <div class="row" style="color: #4A6ED5; font-size: 12px; text-align: center; font-weight: bold; margin-left: -5px;">
                                      BEST
                                    </div>
                                    <div class="row" style="margin-left: 2px">
                                      <img src="../../static/data/gradient.png" width="50%" height="350px">
                                    </div>
                                    <div class="row" style="color: #4A6ED5; font-size: 12px; font-weight: bold; margin-left: -12px;">
                                      WORST
                                    </div>
                                  </div>
                                  <div class="col-11">
                                    <div class="chart-area" style="height: 395px;">
                                      <div><div id="myChart" style="width:100%; height: 395px;"></div></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->
    </div>

<script type="text/javascript" src="{% static "costGraph.js" %}"></script>
<script type="text/javascript" src="{% static "ridershipGraph.js" %}"></script>
<script type="text/javascript" src="{% static "emissionsGraph.js" %}"></script>
<!-- <script type="text/javascript" src="{% static "trafficGraph.js" %}"></script>  -->
<script type="text/javascript" src="{% static "safetyGraph.js" %}"></script>
<script type="text/javascript" src="{% static "map.js" %}"></script>
<script type="text/javascript" src="{% static "numberFormats.js" %}"></script>
<script type="text/javascript" src="{% static "linechart.js" %}"></script>
<script type="text/javascript" src="{% static "sliders.js" %}"></script>



<script>

  document.getElementById("refresh_button").addEventListener("click", function() {
    updateCharts()
  });

</script>

</body>

</html>
